{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div id="calculations-container">
    <div class="calculations-header">
        <h2>Calculation</h2>
    </div>
    <form action="/" method="POST" id="calculation-form">
    <div class="calculations-row">
            <div>

                <input type="number" name="first-number" id="first-number" step="any">
            </div>
            <div>

                <label for="arithmetic-operator"></label>
                <select id="arithmetic-operator" name="arithmetic-operator">
                  <option value="+">+</option>
                  <option value="-">-</option>
                  <option value="/">/</option>
                  <option value="*">*</option>
                </select>
            </div>
            <div>

                <input type="number" name="second-number" id="second-number" step="any">
            </div>
            <div>

                <input type="submit" value="CALCULATE" id="calculate">
            </div>
        </div>
    </form>
    <div id="calculation-answer">

        {% if result != None %}
        <h2>{{ result }}</h2>
        {% else %}
        <h2></h2>
        {% endif %}
    </div>

</div>

{% endblock %}